* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #040d12;
  color: #93b1a6;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: #183d3d;
  border: 1px solid #183d3d;
  color: #fff;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: #5c8374;
}

.btn.btn-danger {
  background: #ff5757;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: #ff4141;
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn.btn-danger:hover {
  color: #fff;
}

.new-item-form input {
  outline: none;
  border: 1px solid #5c8374;
  background: #040d12;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: #93b1a6;
}

.new-item-form input:focus {
  border: 1px solid #93b1a6;
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

.list li:has(input:checked) label {
  color: #93b1a6;
  text-decoration: line-through;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid #93b1a6;
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: #93b1a6;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li label:hover::before {
  background: #5c8374;
}

.list li:has(input:checked) label::before {
  content: "✔";
  background: #183d3d;
  color: #93b1a6;
  font-size: 0.75rem;
  font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
  background: #040d12;
}

.made {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50vh;
}

.namelink {
  text-decoration: none;
  color: #93b1a6;
}
.made span {
  color: #fff;
  padding-left: 5px;
}

.mainhead {
  display: flex;
  justify-content: center;
}

.quote {
  color: white;
}
